@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  background: #e6e7ee;
  font-family: Hubballi;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.biobox,
.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #31344b;
  font-weight: 100;
  text-align: center;
  font-family: Hubballi;
  user-select: none;
  position: relative;
  z-index: 2;
}

.biobox {
  width: fit-content;
  height: fit-content;
  padding: 2rem 3rem;
  box-sizing: border-box;
  font-size: 40px;
  transition: all 0.3s ease;
  border-radius: 1rem;
  background: #e6e7ee;
}

.biobox::before,
.biobox::after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.biobox::before {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 18px #f6f6ff11,
    -10px -10px 30px 0 #ffffffaa, 10px 10px 30px 0 rgba(174, 174, 192, 0.4),
    inset -10px -10px 10px 0 rgba(174, 174, 192, 0.25),
    inset 10px 10px 10px 0 #f6f6ffaa;
  opacity: 1;
}

.biobox::after {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #f6f6ffee;
}

.biobox:hover::after {
  opacity: 1;
}

.biobox:hover::before {
  opacity: 0;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.chips {
  margin-top: 15px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 2;
}

.chip {
  border-radius: 0.55rem;
  background: #e6e7ee;
  height: fit-content;
  padding: 0.5rem 2rem;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 5px 5px 0 0;
}

.chip::before,
.chip::after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0.55rem;
}

.chip::before {
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 12px #f6f6ff11,
    -5px -5px 15px 0 #ffffffaa, 5px 5px 15px 0 rgba(174, 174, 192, 0.4),
    inset -5px -5px 5px 0 rgba(174, 174, 192, 0.25),
    inset 5px 5px 5px 0 #f6f6ffaa;
  opacity: 1;
}

.chip::after {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #f6f6ffee;
}

.chip:hover::after {
  opacity: 1;
}

.chip:hover::before {
  opacity: 0;
}

.chip:active {
  transform: scale(0.95);
}

.chip.small {
  font-size: 15px;
  padding: 0.5rem 1rem;
}

.secondary {
  font-size: 18px;
}

.secondary.small {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  width: fit-content;
  position: relative;
  text-align: left;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(-20px);
  display: flex;
}

li {
  font-size: 18px;
  margin: 0 15px;
}

.links-block {
  margin-top: 5px;
}

.hover-tip {
  transition: all 0.3s ease;
  display: block;
}

.biobox,
.chip {
  box-shadow: 0 0 30px rgba(0, 0, 15, 0.05), 0 0 10px rgba(0, 0, 15, 0.05);
}

.monoicon {
  filter: url(#colorChange);
}

@media screen and (max-width: 736px) {
  .biobox {
    width: 90vw;
    box-sizing: border-box;
  }

  h1 {
    font-size: 32px;
  }

  .chips {
    margin: 0;
    margin-top: 10px;
    display: block;
    width: auto;
    text-align: center;
  }

  .chip {
    display: inline-block;
    margin: 5px;
  }

  .chip.small {
    margin: 5px 15px;
  }

  .chip:before,
  .chip:after {
    top: 0;
    left: 0;
  }
}
